<h1>todo list</h1>
{{!-- 1 form to create --}}
<form method="post" action="/todo">
    <label for="task">task</label>
    <input id="task" name="task" type="text">
    <button>add todo</button>
</form>
{{!-- 1 list to read --}}
<ul id="todo-list">
    {{#each todos}}
    {{#if this.status}}
    <li class="item done">
        <span>{{this.task}}</span>
        <div class="btns">
            <form method="post" action="/todo/delete/{{this._id}}">
                <button>x</button>
            </form>
            <a href="/todo/edit/{{this._id}}">
                <button>
                    <span>e</span>
                </button>
            </a>
        </div>
    </li>
    {{else}}
    <li class="item pending">
        <span>{{this.task}}</span>
        <div class="btns">
            <form method="post" action="/todo/delete/{{this._id}}">
                <button>x</button>
            </form>
            <a href="/todo/edit/{{this._id}}">
                <button>
                    <span>e</span>
                </button>
            </a>
        </div>
    </li>
    {{/if}}
    {{/each}}
</ul>